[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/strontsiy
[access "refs/for/refs/*"]
	read = group user/strontsiy
	push = group user/strontsiy
	label-Code-Review = -2..+2 group user/strontsiy
	label-Verified = -1..+1 group user/strontsiy
	rebase = group user/strontsiy
	removeReviewer = group user/strontsiy
	submit = group user/strontsiy
[access "refs/heads/*"]
	read = group user/strontsiy
	create = group user/strontsiy
	push = +force group user/strontsiy
	pushMerge = group user/strontsiy
[access "refs/tags/*"]
	push = +force group user/strontsiy
	pushTag = group user/strontsiy
	pushSignedTag = group user/strontsiy
